* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    font-family: system-ui;
}

.sing-up {
    width: 97.674px;
}

.wrapper {
    width: 200vw;
    display: flex;
    flex-wrap: nowrap;
}

.section1 {
    background: #1e0059;
}

.section01 {
    background: #9801dd;
}

.section02 {
    position: relative;
}

.divide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 10rem;
}

.x1 {
    color: #FFF;
    background: firebrick;
}

.x2 {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    background: darkgoldenrod;
}

.section2 {
    background: teal;
}