* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.section {
    width: 100%;
    height: 100vh;
}

.wrapper {
    width: 200vw;
    display: flex;
    flex-wrap: nowrap;
}

.section1 {
    background: url(backgrounds/image-1.jpg) no-repeat center/cover;
}

.section01 {
    background: url(backgrounds/image-2.jpg) no-repeat center/cover;
}

.section02 {
    position: relative;
}

.divide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.x1 {
    background: url(backgrounds/image-3.jpg) no-repeat center/cover;
}

.x2 {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    background: url(backgrounds/image-4.jpg) no-repeat center/cover;
}

.section2 {
    background: url(backgrounds/image-5.jpg) no-repeat center/cover;
}